streamlit
requests
beautifulsoup4
groq
speechrecognition
audio_recorder_streamlit
elevenlabs
fastapi
uvicorn
pydantic
python-multipart
fake-useragent
python-dotenv
langchain
langchain-community
langchain-core
langchain-ollama
langchain-tavily>=0.2.6
chromadb
tavily-python
firecrawl-py
