streamlit
requests
beautifulsoup4
groq
speechrecognition
audio_recorder_streamlit
elevenlabs
scrapegraphai
playwright
fastapi
uvicorn
pydantic
langchain-ollama
langchain-core
python-multipart
murf
crawl4ai
fake-useragent
serpapi