streamlit
requests
beautifulsoup4
groq
speechrecognition
audio_recorder_streamlit
elevenlabs
scrapegraphai
playwright
fastapi
uvicorn
pydantic
python-multipart
murf
crawl4ai
fake-useragent
serpapi
python-dotenv
langchain
langchain-community
langchain-core
langchain-ollama
tavily-python
chromadb
tavily-python

